<div class="content-heading">
  <div class="col-sm-12">
   <h3 class="heading">Current Drafts</h3>
  </div>
</div>

<div class="col-sm-12">

    <div class="card">
      <div class="card-main">
        <nav class="margin-top-no tab-nav">
          <ul class="nav nav-justified">
            <li class="active">
              <a class="waves-attach waves-effect" data-toggle="tab" href="#friend_tab" target="_self">Friends <span class="label label-red" ng-if="challenges.friends.draft.length > 0">{{challenges.friends.draft.length}}</span></a>
            </li>
            <li>
              <a class="waves-attach waves-effect" data-toggle="tab" href="#player_tab" target="_self">Users <span class="label label-red" ng-if="challenges.users.draft.length > 0">{{challenges.users.draft.length}}</span></a>
            </li>
          </ul>
        <div class="tab-nav-indicator"></div></nav>
        <div class="card-inner margin-top-no">
          <div class="tab-content">
            <div class="tab-pane fade active in" id="friend_tab">
              <p ng-show="challenges.friends.draft.length === 0" ng-cloak>No active friend challenges</p>
              <ng-include src="'views/challenges/list.html'" ng-if="challenges.friends.draft.length > 0" ng-init="challenges = challenges.friends.details"></ng-include>
            </div>
            <div class="tab-pane fade" id="player_tab">
              <p ng-show="challenges.users.draft.length === 0" ng-cloak>No active user challenges.</p>
              <ng-include src="'views/challenges/list.html'" ng-if="challenges.users.draft.length > 0" ng-init="challenges = challenges.users.details"></ng-include>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>
