<div class="content-heading">
  <div class="col-sm-12">
   <h3 class="heading">Game Requests</h3>
  </div>
</div>

<div class="col-sm-12">

  <div class="card" ng-show="!challenges.friends.received && !challenges.users.received" ng-cloak>
    <div class="card-main">
      <div class="card-inner">
            <p>No game requests.</p>
        </div>
      </div>
    </div>

    <ng-include src="'views/challenges/requests.html'" ng-if="challenges.friends.received.length > 0" ng-init="requests = challenges.friends.received;isFriend = true;"></ng-include>
    <ng-include src="'views/challenges/requests.html'" ng-if="challenges.users.received.length > 0" ng-init="requests = challenges.users.received"></ng-include>

</div>
