<div class="content-heading">
  <div class="col-sm-12">
   <h3 class="heading">Game Requests</h3>
  </div>
</div>

<div class="col-sm-12">

  <div class="card" ng-show="userChallenges.received.length === 0 && friendChallenges.received.length === 0" ng-cloak>
    <div class="card-main">
      <div class="card-inner">
            <p>No game requests.</p>
        </div>
      </div>
    </div>

    <ng-include src="'views/challenges/requests.html'" ng-if="friendChallenges.received.length > 0" ng-init="requests = friendChallenges.received;isFriend = true;"></ng-include>
    <ng-include src="'views/challenges/requests.html'" ng-if="userChallenges.received.length > 0" ng-init="requests = userChallenges.received"></ng-include>

</div>
