<div class="content-heading">
  <div class="col-sm-12">
   <h3 class="heading">Friends</h3>
  </div>
</div>

<div class="col-xx-12" ng-show="message" ng-cloak>
	<div class="bg-success text-center"><p>{{message}}</p></div>
</div>

<div class="col-sm-12" ng-if="friends.my.list.length === 0 && !fantasy.loading" ng-cloak>
  <div class="card">
    <div class="card-main">
      <div class="card-inner">
        <div class="text-center">
          <h3 class="margin-top-no">No friends available</h3>
          <p>Browse the <a ng-href="#/users/">users</a> directory to add friends</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<ng-include src="'views/friends/list.html'" ng-if="friends.my.list.length > 0" ng-init="friends.details = friends.my.details"></ng-include>

