<div class="content-heading">
  <div class="col-sm-12">
   <h3 class="heading">Friend Requests</h3>
  </div>
</div>

<div class="col-sm-12" ng-show="message" ng-cloak>
  <div class="bg-success text-center"><p>{{message}}</p></div>
</div>

<div class="col-sm-12">

  <div class="card" ng-show="friendReceiveRequest.length === 0" ng-cloak>
    <div class="card-main">
      <div class="card-inner">
        <p>No friend requests</p>
      </div>
    </div>
  </div>

  <ng-include src="'views/friends/requests.html'" ng-if="friendReceiveRequest.length > 0"></ng-include>

</div>
