<div class="content-heading">
  <div class="col-sm-12">
   <h3 class="heading">Friends</h3>
  </div>
</div>

<div class="col-xx-12" ng-show="message" ng-cloak>
	<div class="bg-success text-center"><p>{{message}}</p></div>
</div>

<div class="col-xx-12">
  <p class="text-center" ng-show="!friends.list && !friends.loading" ng-cloak><i class="mdi mdi-emoticon-sad icon-2x"></i> No friends</p>
</div>

<div class="clearfix"></div>

<ng-include src="'views/friends/list.html'" ng-if="friends.list.length > 0"></ng-include>

