<div class="content-heading">
  <div class="col-sm-12">
   <h3 class="heading">Matchup</h3>
  </div>
</div>

<div class="col-sm-6">
	<div class="row">
		<div class="col-sm-6">
			<h3>{{displayname || username}}</h3>
		</div>
		<div class="col-sm-6 text-right">
			<h3>{{your_points || "0.0"}}</h3>
		</div>
	</div>
	<ng-include src="'views/roster.html'" ng-init="showteam = true;changeRoster = true;showpos = true;showpoints = true;" ng-if="my_players"></ng-include>

</div>

<div class="col-sm-6">
	<div class="row">
		<div class="col-sm-6">
			<h3>{{opponent}}</h3>
		</div>
		<div class="col-sm-6 text-right">
			<h3>{{their_points || "0.0"}}</h3>
		</div>
	</div>

	<ng-include src="'views/roster.html'" ng-init="showteam = true;my_players = their_players;showpos = true;showpoints = true" ng-if="their_players"></ng-include>

</div>

