<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">My Fantasy Team</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        
        <ul class="nav navbar-nav" ng-show="uid" ng-cloak>
          <li><a href="#/">Home</a></li>
          <li><a ng-href="#/practice">Practice</a></li>
          <li><a ng-href="#/challenges">My Challenges</a></li>
          <li><a ng-href="#/friends">Friends</a></li>
          <li><a ng-href="#/users">Users</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-show="uid" ng-cloak>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{displayname}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ng-href="#/profile">Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a ng-href="#/" ng-click="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
