<div class="content-heading" ng-if="uid" ng-cloak>
	<h1 class="heading">Welcome to FantasyZone</h1>
	<h3>Battle weekly for pride or prizes. Play for free!</h3>
</div>

<div ng-hide="uid" ng-controller="LoginCtrl" class="col-sm-12" ng-cloak>
	<ng-include src="'views/login.html'"></ng-include>
</div>

<div ng-show="uid" ng-cloak>

	<div class="col-sm-6">
    <div class="card">
        <div class="card-main">
            <div class="card-inner container">
          		<h3 class="margin-no">Latest News</h3>
          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nihil eveniet dolores pariatur quas. Aperiam ullam dicta dolore expedita, repudiandae rerum sint, quibusdam omnis iure doloribus adipisci ab quo necessitatibus?</p>
          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nihil eveniet dolores pariatur quas. Aperiam ullam dicta dolore expedita, repudiandae rerum sint, quibusdam omnis iure doloribus adipisci ab quo necessitatibus?</p>
          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nihil eveniet dolores pariatur quas. Aperiam ullam dicta dolore expedita, repudiandae rerum sint, quibusdam omnis iure doloribus adipisci ab quo necessitatibus?</p>
            </div>
          </div>
        </div>
	</div>

	<div class="col-sm-6">
		
		<div class="card">
		    <div class="card-main">
		        <div class="card-inner">
		        	<p class="card-heading">Top players this week</p>
					<table class="table">
						<tr>
							<td>1.</td>
							<td>Tom Brady</td>
							<td>30.0</td>
						</tr>
					</table>

		        </div>
		    </div>
		</div>
		

	</div>
</div>
