<ul class="notifications nav nav-list pull-right padding-right-sm">
  <li><a class="logo-btn" ng-href="#/requests/friends">
      <span class="mdi mdi-account-multiple icon-2x" title="Friend Requests" ng-class="{'icon-disabled': main.friendRequests.length === 0}"></span>
      <span class="label label-red" ng-cloak ng-if="main.friendRequests.length > 0">{{main.friendRequests.length}}</span>
    </a></li>
    <li><a class="logo-btn" ng-href="#/requests/challenges">
      <span class="mdi mdi-bell icon-2x" ng-class="{'mdi-bell-ring': main.challengeRequests.users.length > 0 || main.challengeRequests.friends.length > 0, 'icon-disabled': main.challengeRequests.users.length === 0 && main.challengeRequests.friends.length === 0}" title="Game Requests"></span>
      <span class="label label-red" ng-show="main.challengeRequests.users.length > 0 || main.challengeRequests.friends.length > 0" ng-cloak>{{main.challengeRequests.users.length + main.challengeRequests.friends.length }}</span>
    </a></li>
    <li class="dropdown"><a class="more logo-btn pull-right" data-toggle="dropdown">
      <span class="mdi mdi-dots-vertical icon-2x"></span>
    </a>
      
      <ul class="dropdown-menu">
        <li>
          <a class="padding-right-lg waves-attach" ng-href="#/profile"><span class="mdi mdi-account icon-lg margin-right"></span>Profile</a>
        </li>
        <li>
          <a class="padding-right-lg waves-attach" ng-click="main.logout()"><span class="mdi mdi-exit-to-app icon-lg margin-right"></span>Logout</a>
        </li>
      </ul>

    </li>
</ul>