
<td class="sort" ng-if="organize == true"><span class="handle">::</span></td>
<td class="add" width="30" ng-if="add == true && selected == false"><a ng-click="select(player)" class="btn btn-flat"><i class="material-icons">add_circle_outline</i></a></td>

<td class="position" ng-if="rosterchange == true"><input type="radio" ng-model="existingPlayer" name="change" ng-change="setExistingPlayer(player.id)" value="{{player.id}}" ng-disabled="rosterdisabled" ng-show="teamsPlayed.indexOf(player.team_id) < 0 && gameWeek >= currentWeek" /></td>

<td class="position" width="40" ng-if="showpos == true">{{ my_position || player.my_pos || player.pos || "BN" }}</td>

<td class="select" ng-if="changeRoster == true"><a name="selectedPosition" ng-href="{{rosterUrl}}/{{team_id}}/{{player.id}}" class="btn btn-primary btn-xs" ng-show="teamsPlayed.indexOf(player.team_id) < 0 && gameWeek >= currentWeek" ng-cloak><span class="glyphicon glyphicon-menu-hamburger"></span></a></td>

<td class="team" ng-if="showteam == true" width="40">
	<span class="team-logo {{player.team_abbr | lowercase}}" ng-if="player.id"></span>
</td>

<td class="player padding-left-no">
	<span class="player-image" ng-if="showplayerimage">
		<span class="image"><img ng-src="images/players/{{player.id}}.png"></span>
	</span>
	<a ng-click="playerDetails(player)">{{player.name || '(empty)'}}</a>
  <span class="label">{{ my_position || player.my_pos || player.pos || "BN" }}</span>
</td>

<td ng-if="showinfo" class="opp">{{info[player.id].opponent || 'N/A'}}</td>

<td class="stats pass-yds" ng-if="showstats == true && player.pos != 'K' && player.pos != 'DEF'">{{player.stats[currentWeek].stats[5] || "-"}}</td>
<td class="stats pass-td" ng-if="showstats == true && player.pos != 'K' && player.pos != 'DEF'">{{player.stats[currentWeek].stats[6] || "-"}}</td>
<td class="stats pass-int" ng-if="showstats == true && player.pos != 'K' && player.pos != 'DEF'">{{player.stats[currentWeek].stats[7] || "-"}}</td>
<td class="stats rush-yds" ng-if="showstats == true && player.pos != 'K' && player.pos != 'DEF'">{{player.stats[currentWeek].stats[14] || "-"}}</td>
<td class="stats rush-td" ng-if="showstats == true && player.pos != 'K' && player.pos != 'DEF'">{{player.stats[currentWeek].stats[15] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'K'">{{player.stats[currentWeek].stats[33] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'K'">{{player.stats[currentWeek].stats[35] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'K'">{{player.stats[currentWeek].stats[36] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'K'">{{player.stats[currentWeek].stats[37] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'K'">{{player.stats[currentWeek].stats[38] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'K'">{{player.stats[currentWeek].stats[39] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'DEF'">{{player.stats[currentWeek].stats[45] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'DEF'">{{player.stats[currentWeek].stats[46] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'DEF'">{{player.stats[currentWeek].stats[47] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'DEF'">{{player.stats[currentWeek].stats[49] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'DEF'">{{player.stats[currentWeek].stats[50] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'DEF'">{{player.stats[currentWeek].stats[53] || "-"}}</td>
<td class="stats" ng-if="showstats == true && player.pos == 'DEF'">{{player.stats[currentWeek].stats[54] || "-"}}</td>
<td class="week-points" ng-if="showpoints">{{player.stats[currentWeek].week_points || "0.00"}}</td>
