<div class="row">
	<div class="col-sm-10">
		<ng-include src="'views/weeks.html'"></ng-include>
	</div>
	<div class="col-sm-2 text-right">
		<h3>{{your_points}}</h3>
	</div>
	<div class="col-sm-12">
	    <ng-include src="'views/roster.html'" ng-init="showteam = true;roster = my_players;changeRoster = true;showpos = true;showpoints = true;" ng-if="game > 0"></ng-include>
      <div ng-if="game < 1 && gameWeek === currentWeek" ng-cloak>
	    	<h2>Setup your lineup for this week</h2>
	    	<a ng-href="#/practice/draft/{{currentWeek}}" class="btn btn-primary">Enter Draft</a>
	    </div>
	</div>
</div>
