<div class="content-heading">
  <div class="col-sm-12">
   <h3 class="heading">Roster Change</h3>
  </div>
</div>

<div class="col-sm-12" ng-show="roster.showConfirmation">
  <div class="card">
    <div class="card-main">
      <div class="col-sm-12 roster-change-confirm">
        <h3 class="text-center">Confirm roster change</h3>
  
        <div class="col-sm-6 text-center">
          <h5>Existing Player</h5>
          <span class="image avatar" ng-if="roster.selected">
            <img ng-if="roster.selected[0].nfl_id !== '0'" ng-src="images/players/{{roster.selected[0].nfl_id}}.png" />
            <img ng-if="roster.selected[0].nfl_id === '0'" ng-src="images/teams/players/{{roster.selected[0].team_id}}.png" />
          </span>
          <h3>{{roster.selected[0].firstName}} {{roster.selected[0].lastName}}</h3>
        </div>

        <div class="col-sm-6 text-center">
          <h5>New Player</h5>
          <span class="image avatar" ng-if="roster.selected">
            <img ng-if="roster.newPlayer.nfl_id !== '0'" ng-src="images/players/{{roster.newPlayer.nfl_id}}.png" />
            <img ng-if="roster.newPlayer.nfl_id === '0'" ng-src="images/teams/players/{{roster.newPlayer.team_id}}.png" />
          </span>
          <h3>{{roster.newPlayer.firstName}} {{roster.newPlayer.lastName}}</h3>
        </div>

        <div class="col-sm-12 text-center">
          <a class="btn btn-flat" ng-click="roster.updateRoster()">Confirm</a>
        </div>

      </div>
    </div>
  </div>
</div>

<form ng-submit="roster.confirmChange()" ng-hide="showPlayerDetails || roster.showConfirmation || !roster.available">
  <div class="col-sm-6">
  	<h3>Selected player</h3>
  	<div ng-include src="'views/roster.html'" ng-init="draft.my_players = roster.selected;week = roster.week;selected = true" class="player-row" ng-if="roster.selected"></div>
  </div>

  <div class="col-sm-6">
  	<h3>Swap with player</h3>
    <div ng-include src="'views/roster.html'" ng-init="draft.my_players = roster.available;week = roster.week;available = true" class="player-row" ng-if="roster.available"></div>
  </div>
  
  <div class="col-sm-6">
    <a ng-href="#/game/{{roster.gameId}}" class="btn btn-flat">Cancel</a>
  </div>
  
  <div class="col-sm-6 text-right">
  	<input type="submit" value="Submit Roster Change" class="btn btn-flat" ng-disabled="!roster.newPlayer" />
  </div>

</form>

<div class="text-center" ng-cloak ng-show="!roster.available && roster.selected">
  <h4>No players available to change</h4>
  <a ng-href="#/game/{{roster.gameId}}" class="btn btn-flat">Go back</a>
</div>

<!-- <div id="playerDetails" class="col-xx-12 padding-no" ng-show="showPlayerDetails">
  <ng-include src="'views/player/profile.html'"></ng-include>
</div>
 -->