<table class="table roster table-hover table-stripe">
	<tbody>
    <tr ng-repeat="player in my_players">
      <td width="120">
        <span class="label">{{ my_position || player.my_pos || player.pos || "BN" }}</span>
        <span class="team-logo {{player.team_abbr | lowercase}}" ng-if="player.id"></span> 
      </td>
      <td class="player-name" ng-click="playerDetails(player)">
        <a>
          <span ng-cloak ng-if="player.firstName">{{player.firstName | limitTo: 1}}. {{player.lastName}}</span>
          <span ng-if="!player.firstName">(empty)</span>
        </a>
      </td>
      <td width="50">
        {{player.stats[week].week_points || "0.00"}}
      </td>
    </tr>
	</tbody>
</table>
