<div class="content-heading">
  <div class="col-sm-12">
   <h3 class="heading">Users</h3>
  </div>
</div>

<div class="table-responsive">
  
  <div class="col-sm-12 hidden-xs hidden-xx">
    <form ng-submit="search()">
      <div class="row">
          <div class="col-sm-12">
            <input type="search" class="form-control" ng-model="searchUser" placeholder="Search User..." />
          </div>
      </div>
    </form>
  </div>

  <div class="clearfix"></div>

  <div class="card-table table-responsive col-xx-12">
    <table class="table">
      <thead>
        <tr>
          <td>Friend</td>
          <td>User</td>
          <td class="text-right">Challenge</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users.list">
          <td width="50" class="user-status">

            <span ng-show="user.status === 'available' && users.request.indexOf(user.id) < 0" ng-cloak>
              <a ng-click="users.addFriend(user)" class="btn btn-green btn-flat waves-attach"><i class="mdi mdi-account-plus icon-2x"></i></a>
            </span>

            <span ng-show="user.status === 'sent' || users.request.indexOf(user.id) >= 0" ng-cloak>
              <a disabled class="btn btn-flat waves-attach"><i class="mdi mdi-account-check icon-2x"></i></a>
            </span>

          </td>
          <td class="user-name">
            <a class="btn btn-flat username">{{user.displayname || user.username}}</a>
          </td>
          <td class="text-right" width="100">

            <span ng-show="users.challenges.sent.indexOf(user.id) < 0" ng-cloak>
              <a ng-click="users.challenge(user)" class="btn btn-block btn-green btn-flat waves-attach">Challenge</a>
            </span>

            <span ng-show="users.challenges.sent.indexOf(user.id) >= 0" ng-cloak>
              <a class="btn btn-block btn-disabled btn-flat waves-attach">Challenged</i></a>
            </span>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!--

<li>
              <a ng-click="challengePlayer(user.id)" class="btn btn-green btn-flat waves-attach waves-button" ng-hide="friends.draftList.indexOf(user.id) >= 0 || users.draftList.indexOf(user.id) >= 0 || users.sentList.indexOf(user.id) >= 0 || friends.sentList.indexOf(user.id) >= 0">Challenge</a>
            </li>
            <li ng-show="users.sentList.indexOf(user.id) >= 0 || friends.sentList.indexOf(user.id) >= 0">
              <a disabled class="btn btn-flat waves-attach waves-button" ng-cloak>Challenge Sent</a>
            </li>
            <li ng-hide="friendSentRequest.indexOf(user.id) >= 0 || user.status !== 'available'">
              <a ng-click="addFriend(user.id)" class="btn btn-flat waves-attach waves-button">Send Friend Request</a>
            </li>
            <li ng-show="user.status === 'accepted' || friendAccepted.indexOf(user.id) >= 0">
              <a class="btn btn-success" disabled>Friends</a>
            </li>
            <li ng-show="user.status === 'sent' || friendSentRequest.indexOf(user.id) >= 0">
              <a class="btn btn-flat waves-attach waves-button" disabled>Friend Request Sent</a>
            </li>
            <li ng-show="user.status === 'requested'" ng-hide="friendAccepted.indexOf(user.id) >= 0 || user.status !== 'requested'">
              <a ng-click="acceptFriend(user.id)" class="btn btn-flat waves-attach waves-button">Accept Friendship</a>
            </li>
            -->


